
header {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
color: black;
}

code {
    display: block;
  background: gainsboro;
}

@media screen and (max-width: 600px) {
  body #navbar{
    font-size: 12px;
  }
}

html,
body {
  min-width: 600px;
  color: #4d4e53;
  background-color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
}


#navbar{
position: fixed;
min-width: 240px;
top: 0px;
left: 0px;
height: 100%;
width: 290px;
border-right: solid;
}

#navbar li {
list-style: none;
padding: 10px;
height: 50px;
position: relative;
text-transform:capitalize;
}

#navbar header {
padding: 15px 0px;
background-color: lightcoral;
}

#navbar a{
text-decoration: none;
color: black;
}

#navbar a:hover{
color: darkslategrey;
}

#navbar li:hover{
background-color: lightcoral;
}

#main-doc{
margin-left: 320px;
margin-top: 25px;
margin-right: 35px;
}

p{
text-align:justify;
}

#resources li {
color: grey;
font-size: 14px;
}

#resources a:hover{
color: lightcoral;
}

#resources a:visited {
color: black;
}

#resources a:visited:hover{
color: lightcoral;
}

footer {
margin-left: 320px;
}